// Colors
$accent-light: #DEE0F7; // Lavender Web
$accent-light-light: #B5AED6; // Blue Bell
$accent-light-dark: #9C92C8; // Blue Bell
$accent-middle: #6152A3; // Liberty
$accent-middle-light: #3A3856; // Space Cadet
$accent-middle-dark: #201C36; // Dark Purple
$accent-dark: #0C070D; // Rick Black FOGRA 39

// Sizes
$img-width: 400px;

// Breakpoints
$breakpoint: 550px;
$breakpoint-medium: 800px;
$breakpoint-large: 1200px;

.home-sections-light
{
    display: flex; // Makes box flex
    max-height: 500px;
    padding: 80px 180px;
    text-align: center;
    align-items: center;
    color: $accent-middle-light;
    background-color: $accent-light-light;

    // Adds custom properties for different viewport widths
    @media (max-width: 1350px)
    {
        padding: 50px 0;
        max-height: 20000px;
    }

    @media (max-width: 1050px)
    {
        padding: 25px 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-medium)
    {
        flex-direction: column;
        padding: 25px;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column;
        padding: 25px;
        margin: 0;
    }

    @media (min-width: 2000px)
    {
        padding: 125px 20vw;
    }
}

.home-sections-dark
{
    display: flex;
    max-height: 500px;
    padding: 80px 180px;
    text-align: center;
    align-items: center;
    color: $accent-middle-light;
    background-color: $accent-light-dark;

    // Adds custom properties for different viewport widths
    @media (max-width: 1350px)
    {
        padding: 50px 0;
        max-height: 20000px;
    }

    @media (max-width: 1050px)
    {
        padding: 25px 0;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-medium)
    {
        flex-direction: column-reverse;
        padding: 25px;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column-reverse;
        padding: 25px;
        margin: 0;
    }

    @media (min-width: 2000px)
    {
        padding: 125px 20vw;
    }
}

.home-sections-light *, .home-sections-dark *
{
    margin: 0 90px;

    // Adds custom properties for different viewport widths
    @media (max-width: 1400px)
    {
        margin: 0 7vw;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint-medium)
    {
        flex-direction: column;
        margin: 0 10vw;
        max-height: 20000px;
    }

    @media (max-width: $breakpoint)
    {
        flex-direction: column;
        margin: 0;
    }
}

.home-sections-light p, .home-sections-dark p
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    min-width:500px !important;
}